<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="statistic">
      <ion-icon color="red" name="stats-chart-outline"></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="project">
      <ion-icon name="briefcase"></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="apropos">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>