<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-title>Détail de la commande</ion-title>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="primary" [routerLink]="['../../tabs']">
        <ion-icon slot="icon-only" ios="home-outline" md="home-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="container">
    <ion-list>
      <div class="item" *ngFor="let item of commandSelected?.cart;">
        <div class="dfc d-f-c">
          <ion-thumbnail>
            <img src={{item?.Photo}} />
          </ion-thumbnail>
          <div class="info">
            <h5>{{item?.Nom}}</h5>
            <p><b>{{item?.Quantite || 1 }} </b><br> Color: <b>{{item?.Color || "Black"}}</b></p>
          </div>
          <div class="price-del d-g">
            <ion-label color="primary">{{item?.Prix}}Fcfa</ion-label>
          </div>
        </div>
      </div>
    </ion-list>
    <div class="use-card">
      <ion-button expand="block" (click)="useCart()">
        Réutiliser cette commande
      </ion-button>
    </div>
  </div>

  <!-- ================================== modal title order =================================== -->

  <ion-modal id="modal-title" #modale handleBehavior="cycle" [initialBreakpoint]="0.75" isOpen="{{modalIsOpen}}"
    backdropDismiss="false">
    <ng-template>
      <ion-header [translucent]="true" class="ion-no-border">
        <ion-toolbar color="purple">
          <ion-title>Informations sur la commande</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeModal()">
              <ion-icon slot="icon-only" ios="close-outline" md="close-sharp"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <div class="ion-margin-top block-form">
          <form [formGroup]="titleForm" (ngSubmit)="CommandeForm()">
            <div class="input-propo">
              <ion-input type="text" placeholder="Intitule" required label="Intitule"  labelPlacement="floating" formControlName="intitule"></ion-input>
              <ion-input type="text" placeholder="Client" required label="Client"  labelPlacement="floating" formControlName="client"></ion-input>
              <ion-input type="text" placeholder="Adresse" required label="Adresse"  labelPlacement="floating" formControlName="adresse"></ion-input>
              <ion-input type="text" placeholder="Ville" required label="Ville"  labelPlacement="floating" formControlName="ville"></ion-input>
            </div>
            <div class="btn d-f-c">
              <ion-button block type="submit" [disabled]="titleForm.invalid">
                Valider
              </ion-button>
            </div>
          </form>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>